.btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  

.jumbotron {
    background: url("../../../assets/promo-tag2.png") no-repeat center center;
    
    background-size: contain;
}
  .btn-group{
  }
  .card-img-top{
    width: 100%;
    height: 280px;
  }
  p{
    line-height: 1 !important;
  }
  .btn-outline-primary{
    margin-top: 10px !important;
  }
  
  
  
  .box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
  }
  
  .box-shadow:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
  }