<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a [routerLink]="['/']" class="navbar-brand my-0 mr-md-auto font-weight-normal" href="#">
      <img src="../../../assets/promo.png" width="80" height="50" alt="">
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
      <a [routerLink]="['/']" class="p-2 text-dark">Home</a>
      <a [routerLink]="['/promotions']" class="p-2 text-dark">Promotions</a>
    </nav>
    <a *ngIf="!isAuth" [routerLink]="['/login']" class="btn btn-outline-danger">Login</a>
    <a *ngIf="!isAuth" [routerLink]="['/register']" class="btn btn-outline-danger">Register</a>
      <button *ngIf="isAuth" type="button" class="btn btn-sm btn-outline-danger dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user"></i>
      </button>
      <div *ngIf="isAuth" class="dropdown-menu">
        <a  *ngIf="isAdmin" [routerLink]="['/dashboard']" class="dropdown-item">Dashboard</a>
        <a [routerLink]="['/profile']" class="dropdown-item">Profile</a>
        <a [routerLink]="['/add-promotion']" class="dropdown-item" >Add promotion</a>
        <a (click)="logout()" class="dropdown-item">Logout</a>
      </div>
    
  </div>

