<div class="row justify-content-md-center" *ngIf="user">

  <div class="col-lg-6">
    <div class="card">
      <h4 class="card-header bg-dark text-white">{{user.username}}

      </h4>
      <div class="card-body">
        <div class="image float-left user-l">
          <img src="http://31.media.tumblr.com/tumblr_lw2lhqjrel1qfmi03o9_r1_500.gif" class="img-thumbnail" alt="avatar" />
        </div>
        <p class="card-text">Name: {{user.firstName}}</p>
        <p class="card-text">Last Name: {{user.lastName}}</p>
        <p class="card-text">Email: {{user.email}}</p>
      </div>
    </div>
  </div>

  <form *ngIf="isAuth" [formGroup]="messageForm" (submit)="sendMessage()">

    <div class="col-md-12">
      <h2>SEND MESSAGE:</h2>
      <div class="form-group">
        <label for="message" class="text-white font-weight-bold">Comment:</label>
        <textarea formControlName="message" class="form-control" rows="5" cols="50" id="comment" placeholder="Message"></textarea>
      </div>
    </div>
    <div class="float-right">
      <button type="submit" class="btn btn-sm btn-outline-danger">Message</button>
    </div>
  </form>
</div>
<div class="row">

</div>